
.clear-indents {
    margin: 0;
    padding: 0;
}

.email-wrapper .container {
    max-width: 768px;
}

 /* -------- header -------- */

.email-wrapper .header {
    margin: 0;
    padding: 29px 0 0 0;
}

.email-wrapper .header img {
    display: block;
}

.email-wrapper .header .title-container {
    padding-left: 27px;
}

.email-wrapper .header .title {
    height: 29px;
    color: #333333;
    font-size: 24px;
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
}

.email-wrapper .header .subtitle {
    height: 19px;
    color: #bbbbbb;
    font-size: 16px;
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
}

.email-wrapper .header-right a {
    width: 161px;
    height: 16px;
    color: #333333;
    font-size: 13px;
    font-family: HelveticaNeue-Medium, Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-decoration: underline;
    -webkit-text-size-adjust: none;
}

/* -------- content -------- */

.email-wrapper .content {
    margin: 0;
    padding: 65px 0 40px;
    max-width: 480px;
}

/* -------- content change-password -------- */

.email-wrapper .change-password .content-title {
    color: #333333;
    font-size: 25px;
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
}

.email-wrapper .change-password .title-underline {
    color: #333333;
    font-size: 25px;
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    line-height: 30px;
    -webkit-text-size-adjust: none;
    display: inline-block;
    border-bottom: 3px solid #f43501;
    border-radius: 0;
}

.email-wrapper .change-password .content-body {
    padding-top: 27px;
    color: #333333;
    font-size: 16px;
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    line-height: 18px;
}

/* -------- account-creation -------- */

.email-wrapper .account-creation .account-img img {
    display: block;
}

.email-wrapper .account-creation .welcome-block {
    padding-top: 38px;
}

.email-wrapper .account-creation .welcome-block table {
    border-radius: 0;
    box-shadow: 0 2px 7px 1px #d3d2d2;
}

.email-wrapper .account-creation .welcome-block .content-title span {
    padding-top: 15px;
    width: 320px;
    color: #000000;
    font-size: 24px;
    font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #f43501;
    border-radius: 0;
    line-height: 30px;
    -webkit-text-size-adjust:none;
    display: block;
}

.email-wrapper .account-creation .welcome-block .content-body {
    padding-top: 18px;
    color: #707070;
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.email-wrapper .account-creation .welcome-block .content-footer {
    padding-top: 18px;
    padding-bottom: 26px;
}

.email-wrapper .account-creation .welcome-block .content-footer a {
    height: 40px;
    width: 140px;
    color: #ffffff;
    font-size: 16px;
    font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
    font-weight: bold;
    background: #f32f2f;
    border-radius: 0;
    box-shadow: 0 2px 7px 0 #f8a79d;
    line-height: 30px;
    -webkit-text-size-adjust: none;
    display: block;
    text-decoration: none;
    padding-top: 5px;
    box-sizing: border-box;
}

/* -------- footer -------- */

.email-wrapper .footer {
    margin: 0;
    padding: 14px 0 0 0;
    max-width: 480px;
    border-top: 1px solid #979797;
}

.email-wrapper .footer-logo img {
    display: block;
}

.email-wrapper .footer-logo .title-container {
    padding-left: 15px;
}

.email-wrapper .footer-logo .title {
    height: 18px;
    color: #333333;
    font-size: 16px;
    font-family: HelveticaNeue-Bold, Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 18px;
}

.email-wrapper .footer-logo .subtitle {
    height: 18px;
    color: #333333;
    font-size: 12px;
    font-family: HelveticaNeue-Medium, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 18px;
}

.email-wrapper .footer .download-app-title {
    padding-top: 17px;
    height: 18px;
    color: #333333;
    font-size: 12px;
    font-family: HelveticaNeue-Medium, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 18px;
}

.email-wrapper .footer .download-app {
    padding-top: 6px;
    height: 21px;
}

.email-wrapper .footer .download-app a {
    color: #333333;
    font: 10px HelveticaNeue-Light, Helvetica, Arial, sans-serif;
    line-height: 30px;
    -webkit-text-size-adjust:none;
    display: inline-block;
}

.email-wrapper .footer .download-app a img {
    display: inline-block;
}

.email-wrapper .footer .download-app a img.download-app-gp {
    padding-left: 9px
}

.email-wrapper .footer .address {
    padding-top: 25px;
    color: #333333;
    font-size: 12px;
    font-family: HelveticaNeue-Light, Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 18px;
}

.email-wrapper .footer .terms {
    padding-top: 26px;
}

.email-wrapper .footer .terms a {
    color: #333333;
    font: 12px HelveticaNeue-Light, Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 18px;
    text-decoration: none;
    -webkit-text-size-adjust: none;
    display: inline-block;
}

.email-wrapper .footer .links {
    padding: 28px 0 13px;
}

.email-wrapper .footer .links a {
    color: #333333;
    font: 12px HelveticaNeue-Light, Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 18px;
    text-decoration: none;
    -webkit-text-size-adjust:none;
    display: inline-block;
}

.email-wrapper .footer .bottom-line {
    width: 100%;
    height: 12px;
    background: linear-gradient(-180deg, #f43400 0%, #f5515f 100%);
    border-radius: 0;
}














